name: Android CI & Coverage Badge

on:
  push:
    branches: [ "main", "feature/ci_kover" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Tests and Generate Kover Report
        run: ./gradlew clean testDebugUnitTest koverXmlReport koverHtmlReport


      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build/reports/kover

      - name: Calculate Kover Coverage and Generate Badge
        id: coverage_badge
        run: |
          COVERAGE_NUMBER=$(awk -v RS='</tr>' '/<td class="name">all classes<\/td>/{
              for(i=1; i<=4; i++) {
                  match($0, /<span class="percent">\s*([0-9]+\.[0-9]+)%/);
                  $0 = substr($0, RSTART + RLENGTH);
              }
              print substr(FILENAME, RSTART, RLENGTH);
          }' build/reports/kover/html/index.html | grep -oP '\d+\.\d+')

          if [ -z "$COVERAGE_NUMBER" ]; then
            echo "Coverage percentage not found in index.html. Defaulting to 0."
            COVERAGE_NUMBER="0"
          fi

          COVERAGE_INT=$(printf "%.0f" "$COVERAGE_NUMBER")
          echo "Calculated Line Coverage from HTML: $COVERAGE_INT%"

          BADGE_URL="https://img.shields.io/badge/coverage-$COVERAGE_INT%25-brightgreen"
          mkdir -p badges
          curl -s -o badges/kover.svg "$BADGE_URL"

      - name: Commit and push badge
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' || github.ref == 'refs/heads/feature/ci_kover'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Autogenerated Kover coverage badge"
          file_pattern: badges/kover.svg
