name: Android CI & Coverage Badge

on:
  push:
    branches: [ "main", "feature/ci_kover" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Tests and Generate Kover Report
        run: ./gradlew clean testDebugUnitTest koverMergedXmlReport koverMergedHtmlReport

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build/reports/kover

      - name: Debug Kover reports
        run: |
          echo "=== Kover reports ==="
          find . -name "report.xml"

      - name: Install xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name: Extract coverage from Kover merged XML
        id: coverage
        run: |
          REPORT_PATH="build/reports/kover/merged/xml/report.xml"

          COVERED=$(xmllint --xpath "string(//counter[@type='LINE']/@covered)" "$REPORT_PATH")
          MISSED=$(xmllint --xpath "string(//counter[@type='LINE']/@missed)" "$REPORT_PATH")

          TOTAL=$((COVERED + MISSED))
          PERCENT=$(awk "BEGIN { printf \"%.0f\", ($COVERED/$TOTAL)*100 }")

          echo "coverage=$PERCENT" >> $GITHUB_OUTPUT

      - name: Generate coverage badge JSON
        run: |
          mkdir -p badges
          cat <<EOF > badges/coverage.json
          {
            "schemaVersion": 1,
            "label": "coverage",
            "message": "${{ steps.coverage.outputs.coverage }}%",
            "color": "brightgreen"
          }
